<button mat-button>+{{ translate ? 'Create new border' : 'Создать новую доску' }}</button>
<mat-list>
  <mat-list-item>
    <h2 class="border-title">borderTitle</h2>
    <button mat-raised-button>Basic</button>
  </mat-list-item>
  <mat-list-item>
    <h2 class="border-title">borderTitle</h2>
    <button mat-raised-button>Basic</button>
  </mat-list-item>
  <mat-list-item>
    <h2 class="border-title">borderTitle</h2>
    <button mat-raised-button>Basic</button>
  </mat-list-item>
  <mat-list-item>
    <h2 class="border-title">borderTitle</h2>
    <button mat-raised-button>Basic</button>
  </mat-list-item>
</mat-list>
