@import '_styles';

.list {
  display: grid;
  grid-row-gap: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 5px;
  position: relative;

  &:hover {
    cursor: pointer;
  }

  &.row {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr max-content;
    grid-column-gap: $gap;
  }

  &.columns {
    grid-template-rows: minmax(100px, max-content) minmax(40px, max-content);

    .buttons {
      justify-content: center;
    }
  }

  .center {
    align-items: center;
  }

  .button {
    width: max-content;
    height: max-content;
    display: flex;
    align-items: center;
    align-self: center;
    justify-self: flex-end;
    margin-right: 30px;

    &:not([disabled]) {
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 768px) {
  :host {
    ::ng-deep {
      .list {
        .header-icon {
          min-width: fit-content;
          &-name {
            display: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .title {
    font-size: 14px;
  }
}

@media screen and (max-width: 375px) {
  .columns {
    width: 278px;
    margin: 0 auto;
  }
}
