@import '_styles';

.header {
  background: $gray;
}

.logo {
  height: 60px;
  width: 180px;
  background-image: url('../../../../../assets/images/logo.png');
  background-repeat: no-repeat;
  background-position-y: center;
  background-size: contain;
  filter: brightness(0) saturate(100%) invert(10%) sepia(50%) saturate(2024%) hue-rotate(100deg) brightness(99%)
    contrast(104%);
}

.example-spacer {
  flex: 1 1 auto;
}

.btn-toggle-group {
  margin: 0 $gap;

  .btn-toggle {
    background-color: $green;
  }
  .mat-button-toggle-checked {
    background-color: $light-green;
  }
}

@media screen and (max-width: 1024px) {
  .logo {
    width: 150px;
  }

  .btn-toggle-group {
    font-size: 14px;
  }

  :host {
    ::ng-deep {
      .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
        padding: 0 8px;
      }

      .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
        line-height: 35px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  :host {
    ::ng-deep {
      .header {
        .header-icon {
          min-width: fit-content;
          &-name {
            display: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .logo {
    width: 96px;
  }

  :host {
    ::ng-deep {
      .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
        padding: 0 7px;
      }

      .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
        line-height: 20px;
      }
    }
  }
}
