<mat-toolbar>
  <span>PMA</span>
  <span class="example-spacer"></span>
  <mat-button-toggle-group (change)="onValChange()" name="fontStyle" aria-label="Font Style">
    <mat-button-toggle value="en">RU</mat-button-toggle>
    <mat-button-toggle value="ru">EN</mat-button-toggle>
  </mat-button-toggle-group>
  <button
    *ngIf="true"
    mat-icon-button
    class="example-icon favorite-icon header-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon class="header-icon-img">exit_to_app</mat-icon
    ><span class="header-icon-name">{{ 'header.login' | translate }}</span>
  </button>
  <button
    *ngIf="false"
    mat-icon-button
    class="example-icon favorite-icon header-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon class="header-icon-img">add</mat-icon
    ><span class="header-icon-name">{{ 'header.newboard' | translate }}</span>
  </button>
  <button
    *ngIf="false"
    mat-icon-button
    class="example-icon favorite-icon header-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon class="header-icon-img">edit</mat-icon
    ><span class="header-icon-name">{{ 'header.editprofile' | translate }}</span>
  </button>
  <button
    *ngIf="true"
    mat-icon-button
    class="example-icon favorite-icon header-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon class="header-icon-img">person_add</mat-icon
    ><span class="header-icon-name">{{ 'header.signup' | translate }}</span>
  </button>
  <button
    *ngIf="false"
    mat-icon-button
    class="example-icon favorite-icon header-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon class="header-icon-img">exit_to_app</mat-icon><span class="header-icon-name">Log out</span>
  </button>
</mat-toolbar>
