.example-spacer {
  flex: 1 1 auto;
}

mat-button-toggle-group {
  margin-left: 12px;
}

.header-icon {
  width: 103px;
  margin-left: 40px;
  cursor: pointer;

  &-img,
  &-name {
    vertical-align: middle;
  }
}
