@import '_styles';

:host {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: $gap;
  margin-top: 50px;
  padding: 0 $medium-padding;
}

.title-team {
  width: 100%;
  text-align: center;
  font-family: $font-josefin;
  color: $green;
  text-transform: uppercase;
}

.link-github-team {
  text-decoration: none;
  display: contents;
}

.card-team {
  max-width: 250px;
  margin-bottom: 50px;
  background: $light-green;
  transform: scale(1);
  box-shadow: 0 0 5px 5px $gray;
  transition: box-shadow 0.5s, transform 0.5s;

  &-img {
    background-size: cover;
    height: 263px;
  }

  &-name {
    font-family: $font-josefin;
    font-weight: bold;
    color: $dusty-brown;
  }

  &-content {
    font-size: 18px;
    font-family: $font-comfortaa;
    line-height: 1.5;
  }
}

.card-team:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px 7px $gray;
  transition: box-shadow 0.5s, transform 0.5s;
}

.mat-list-base {
  .mat-list-item {
    height: 30px;
  }
}

@media screen and (max-width: 768px) {
  :host {
    margin-top: 30px;
  }

  .title-team {
    font-size: 1.3em;
  }

  .card-team {
    margin-bottom: 30px;
  }
}
