<div class="spaceMain">
  <app-main-header></app-main-header>
  <div class="colomns">
    <div class="colomn">
      <div class="task">
        <div class="title">
          <p>{{ translate ? 'Border title' : 'Название доски' }}</p>
          <button mat-icon-button (click)="viewInput = !viewInput">
            <mat-icon fontIcon="edit"></mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon aria-hidden="false" fontIcon="delete"></mat-icon>
          </button>
        </div>
        <form action="">
          <mat-form-field appearance="fill" *ngIf="viewInput">
            <mat-label>{{ translate ? 'Enter name task' : 'Введите имя задачи' }}</mat-label>
            <input type="text" matInput />
            <div class="task-input" matSuffix>
              <button mat-icon-button>
                <mat-icon>done</mat-icon>
              </button>
              <button mat-icon-button>
                <mat-icon (click)="viewInput = !viewInput">close</mat-icon>
              </button>
            </div>
          </mat-form-field>
        </form>
      </div>
    </div>
    <button mat-raised-button class="button-add-colomn">+{{ translate ? 'Add New Colomn' : 'добавте колнку' }}</button>
  </div>
</div>
