.task-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;

  .task-item__buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
  }
}
