.main-component {
  display: flex;
  width: 100%;
}
.main-borders {
  width: 15%;
}
.main-space {
  width: 85%;
}
app-add-borders {
  background-color:burlywood;
  position: absolute;
  top: 30%;
  left: 30%;
  object-position: center ;
}
