@import '../../../../../styles/styles.scss';

:host {
  display: flex;
  align-items: center;
  height: 100px;
  background-color: $gray;
  font-size: 1.5rem;
  padding: 0 16px;

  .content-footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 20px;
  }
}

.link-github {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;

  .link-github-footer {
    text-decoration: none;
    color: inherit;
  }
}

.item-link-github {
  margin-right: 20px;
  font-weight: bold;
}

.link-github-footer:hover .item-link-github {
  color: #fff;
}

.rslink-footer {
  margin-right: 40px;
}

@media screen and (max-width: 768px) {
  :host {
    height: auto;
    padding: 2rem 0;
  }

  .link-github {
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
  }
}

@media screen and (max-width: 425px) {
  .content-footer {
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
  }
}
