@import '_styles';

:host {
  display: inline-flex;
  gap: $gap;
  height: 100%;
  align-items: center;
}

.header-icon {
  cursor: pointer;

  &-img,
  &-name {
    vertical-align: middle;
  }
}

/* @media screen and (max-width: 768px) {
  .header-icon {
    min-width: fit-content;

    &-name {
      display: none;
    }
  }
} */

@media screen and (max-width: 375px) {
  :host {
    gap: 5px;
  }
}
