@import '../../../../../styles/styles.scss';

:host {
  display: inline-flex;
  gap: $gap;
  height: 100%;
  align-items: center;
}

.header-icon {
  cursor: pointer;

  &-img,
  &-name {
    vertical-align: middle;
  }
}

.btn-multicolor {
  min-width: 120px;
  height: 40px;
  border: none;
  outline: none;
  font-family: $font-josefin;
  font-size: 16px;
  color: #fff;
  background: $green;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-multicolor:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.btn-multicolor:active {
  color: #000;
}

.btn-multicolor:active:after {
  background: transparent;
}

.btn-multicolor:hover:before {
  opacity: 1;
}

.btn-multicolor:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.btn-multicolor:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: $green;
  left: 0;
  top: 0;
  border-radius: 5px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
