@import '../../../../../styles/styles.scss';

:host {
  display: inline-flex;
  gap: $gap;
  height: 100%;
  align-items: center;
}

.header-icon {
  cursor: pointer;

  &-img,
  &-name {
    vertical-align: middle;
  }
}
