$light-blue: #f2f3f0;
$green: #445f3b;
$light-green: #8ea076;
$gray: #677c77;
$light-gray: #e6f0da;
$dusty-brown: #564734;
$ice-blue: #e0efea;
$dark-blue: #2c2f3c;

$font-comfortaa: 'Comfortaa', cursive;
$font-josefin: 'Josefin Sans', sans-serif;

$gap: 12px;
$large-padding: 32px;
$medium-padding: 16px;

$min-content-height: calc(100vh - 164px - #{2 * $medium-padding});
