$light-blue: #f2f3f0;
$green: #445f3b;
$light-green: #8ea076;
$gray: #677c77;
$dusty-brown: #564734;
$ice-blue: #e0efea;

$font-comfortaa: 'Comfortaa', cursive;
$font-josefin: 'Josefin Sans', sans-serif;
