.button {
  width: max-content;
  height: max-content;
  display: flex;
  align-items: center;
  align-self: center;
  justify-self: flex-end;
  margin-right: 30px;

  &:not([disabled]) {
    cursor: pointer;
  }
}

.grid-container {
  display: grid;
  grid-gap: 20px;

  &.single-column {
    grid-template-columns: minmax(230px, 1fr);
  }

  &.columns {
    grid-template-rows: max-content 1fr;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  }
}

.head {
  display: flex;
  flex: 1 1 0px;
  align-items: center;
  justify-content: space-between;
  margin: 32px 16px;
}
