:host {
  display: grid;
  grid-template-rows: 100px;
  padding: 0 16px 16px;
}

.button {
  width: max-content;
  height: max-content;
  display: flex;
  align-items: center;
  align-self: center;
  justify-self: flex-end;
  margin-right: 30px;

  &:not([disabled]) {
    cursor: pointer;
  }
}

.grid-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: minmax(230px, 1fr);
}

