.content {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  column-gap: 10px;

  .sort {
    cursor: pointer;
    font-size: 0;
  }
}

@media screen and (max-width: 425px) {
  :host {
    font-size: 14px;
  }
}

@media screen and (max-width: 600px) {
  :host {
    width: 100%;
    margin-bottom: 20px;
  }
}
