@import '_styles';

.mat-error {
  position: relative;
  bottom: 1.3rem;
  font-size: 0.8rem;
  color: $light-blue;
}

.mat-dialog-actions {
  margin-bottom: 1rem ;
}

.login__link {
  color: $light-blue;
  text-decoration: none;
  border-bottom: 1px solid $light-blue;

  &:hover {
    opacity: 0.8;
  }
}
