@import '_styles';

:host {
  align-self: center;
  margin: 1em;
}

.mat-error {
  position: relative;
  bottom: 1.3rem;
  font-size: 0.8rem;
  color: $light-blue;
}

.mat-dialog-actions {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}
